*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: sahel;
    src: url('Sahel-FD.ttf') format('ttf'),
    url('Sahel-FD.woff') format('woff'),
    url('Sahel-FD.woff2') format('woff2');
}
.div
{
    background-color: rgb(54, 57, 63);
    
    width: 600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.gradient-background {
    background: linear-gradient(90deg,#3f3cec,#191330,#13023e);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;

  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.mtn
{
    color: white;
    font-size: 16px;
    font-family: sahel;
    direction: rtl;
    display: inline-block;
    text-align: justify;
    line-height: 35px;
    z-index: 3;
    text-shadow:0px 3px 5px red;
}
.mtn2
{
   direction: rtl;
   margin-right: 2%;
   font-size: 1em;
   text-align: justify;
   z-index: 3;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px blue; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #18212e; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #040b15; 
}
.mtn3
{
    margin-top: 100px;
    direction: rtl;
    text-align: justify;
    font-size: 1em;
    text-align: right;
    z-index: 3;
}
.div1
{
    
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    background-color: red;  
    justify-content: flex-start;
    height: 97vh;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    overflow: scroll;
    text-align: justify;
    word-wrap: break-word;
    word-break: keep-all;
}
.div3
{
    /* background-color: rgb(54, 57, 63); */
      background-image: url("ezgif.com-video-to-gif.gif");  
    width: 90%;
    height: 97.4vh;
    display: flex;
    justify-content: right;
    margin: auto;
    position: relative;
    border-radius: 5%;
    z-index: 10;
    -webkit-box-shadow:0px 10px 50px 10px red ;
-moz-box-shadow:0px 10px 50px 10px red ;
box-shadow:0px 1px 10px 10px red ;
}
 /* .gradient-background1 {
    background: linear-gradient(302deg,#a26124,#3a05f8,#9d975b);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
    z-index: -10;
    position: relative;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }  */
.img
{
    width: 200px;
    position: absolute;
    height: 200px;
    left:0px;
}
.img2
{
    width: 200px;
    height: 200px;
    position:absolute;
    right:0px;
}
.img3
{
    width: 200px;
    height: 200px;
    position:absolute;
    bottom:0px;
    left:0;
}
.img4
{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.img5
{
    display: flex;
    width: 50%;
    height: 97.3vh;
    margin:0 auto;
    position:absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
.img6
{
    width: 30%;
    height: 200px;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0px;
    z-index: 30;
}
.img7
{
    width: 20%;
    height: 30vh;
    position: absolute;
    margin: 0 auto;
    top: 300px;
    left: 0px;
}
.img8
{
    width: 20%;
    height: 30vh;
    position: absolute;
    margin: 0 auto;
    top: 300px;
    right: 0px;
}
.img9
{
    margin: 0px auto;
    position:relative;
    top: 600px;
}
.div5
{
    
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 40px auto;
}





.flex-box
{
  
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}



*::selection {
  background-color: unset;
}

.player {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%);
  width: 330px;
  height: 530px;
  border-radius: 15px;
  background-color: #18212e;
  box-shadow: 0 3px 5px 0 #435061;
  z-index: 400;
  box-shadow:0px 1px 10px 10px #182f50 ;
}

.player input[type=range] {
 
  margin: 0px;
  padding: 0px;
  background: #fff;
  height: 5px;
  width: 150px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}


.player input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #ff3677;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  box-shadow: -100vw 0 0 100vw #7fd8b9;
}

.player input[type=range]::-moz-range-thumb {
  background: #ff3677;
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

.player input[type=range]::-ms-thumb {
 
  background: #ff3677;
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

.player .cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  border: 5px solid #25303e;
}

.player .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player .info {
  position: absolute;
  left: 50%;
  top: 240px;
  transform: translateX(-50%);
  text-align: center;
}

.player .info .title {
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 2px;
}

.player .info .singer {
  font-size: 14px;
  color: #fff;
}

.player .btn-box {
  position: absolute;
  top: 330px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.player .btn-box i {
  font-size: 24px;
  color: #fff;
  margin: 0 30px;
  cursor: pointer;
}

.player .btn-box i.active {
  color: #ff3677;
}

.player .volume-box {
  display: none;
  position: absolute;
  left: 50%;
  top: 295px;
  transform: translateX(-50%);
  z-index: 1;
  padding: 0 20px;
}

.player .volume-box .volume-down {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #72646f;
}

.player .volume-box .volume-up {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #72646f;
}

.player .volume-box .volume-up::selection {
  background-color: unset;
}

.player .volume-box input[type=range] {
  height: 5px;
  width: 150px;
  margin: 0 0 15px 0;
}

.player .volume-box.active {
  display: block;
}

.player .music-box {
  position: absolute;
  left: 50%;
  top: 385px;
  transform: translateX(-50%);
}

.player .music-box input[type=range] {
  height: 5px;
  width: 230px;
  margin: 0 0 10px 0;
}

.player .music-box input[type=range]::-webkit-slider-thumb {
  height: 5px;
  width: 7px;
}

.player .music-box .current-time {
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #fff;
}

.player .music-box .duration {
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #fff;
}

.player .music-box .play,
.player .music-box .pause {
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #25303e;
  cursor: pointer;
  transition: all 0.4s;
}

.player .music-box .play i,
.player .music-box .pause i {
  font-size: 36px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-48%, -50%);
}

.player .music-box .pause i {
  font-size: 32px;
  transform: translate(-50%, -50%);
}


.heart {
  height: 70px;
  width: 70px;
  background-color: #f20044;
  position: relative;
  left: 5%;
  box-shadow: 10px 10px 90px #f20044;
  animation: animHeart 0.3s linear infinite;
}

@keyframes animHeart {
  0% {
      transform: rotate(-45deg) scale(1.07);
  }

  80% {
      transform: rotate(-45deg) scale(1);
  }

  100% {
      transform: rotate(-45deg) scale(.8);

  }
}

.heart::before {
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: #f20044;
  box-shadow: -10px 10px 90px #f20044;
  top: -50%;
  border-radius: 50%;
}

.heart::after {

  content: '';
  position: absolute;
  box-shadow: 10px -10px 90px #f20044;
  height: 70px;
  width: 70px;
  background-color: #f20044;
  right: -50%;
  border-radius: 50%;
}



.heart2 {
  height: 70px;
  width: 70px;
  background-color: #f20044;
  position: relative;
  bottom: 73px;
  right: 5%;
  float: right;
  box-shadow: 10px 10px 90px #f20044;
  animation: animHeart 0.3s linear infinite;
}

@keyframes animHeart {
  0% {
      transform: rotate(-45deg) scale(1.07);
  }

  80% {
      transform: rotate(-45deg) scale(1);
  }

  100% {
      transform: rotate(-45deg) scale(.8);

  }
}

.heart2::before {
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: #f20044;
  box-shadow: -10px 10px 90px #f20044;
  top: -50%;
  border-radius: 50%;
}

.heart2::after {

  content: '';
  position: absolute;
  box-shadow: 10px -10px 90px #f20044;
  height: 70px;
  width: 70px;
  background-color: #f20044;
  right: -50%;
  border-radius: 50%;
}


.heart1
{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
}
.heart22
{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
}

@keyframes animHeart {
  0% {
      transform: rotate(-45deg) scale(1.07);
  }

  80% {
      transform: rotate(-45deg) scale(1);
  }

  100% {
      transform: rotate(-45deg) scale(.8);

  }
}

.heart1::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #f20044;
  box-shadow: -10px 10px 90px #f20044;
  top: -50%;
  border-radius: 50%;
}

.heart1::after {

  content: '';
  position: absolute;
  box-shadow: 10px -10px 90px #f20044;
  height: 30px;
  width: 30px;
  background-color: #f20044;
  right: -50%;
  border-radius: 50%;
}

@keyframes animHeart {
  0% {
      transform: rotate(-45deg) scale(1.07);
  }

  80% {
      transform: rotate(-45deg) scale(1);
  }

  100% {
      transform: rotate(-45deg) scale(.8);

  }
}

.heart22::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #f20044;
  box-shadow: -10px 10px 90px #f20044;
  top: -50%;
  border-radius: 50%;
}

.heart22::after {

  content: '';
  position: absolute;
  box-shadow: 10px -10px 90px #f20044;
  height: 30px;
  width: 30px;
  background-color: #f20044;
  right: -50%;
  border-radius: 50%;
}
