*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: sahel;
    src: url('Sahel-FD.ttf') format('ttf'),
    url('Sahel-FD.woff') format('woff'),
    url('Sahel-FD.woff2') format('woff2');
}
.div
{
    background-color: rgb(54, 57, 63);
    
    width: 600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.gradient-background {
    background: linear-gradient(90deg,#3f3cec,#191330,#13023e);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;

  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.mtn
{
    color: white;
    font-size: 16px;
    font-family: sahel;
    direction: rtl;
    display: inline-block;
    text-align: justify;
    line-height: 35px;
    z-index: 3;
    text-shadow:0px 3px 5px red;
}
.mtn2
{
   direction: rtl;
   margin-right: 2%;
   font-size: 1em;
   text-align: justify;
   z-index: 3;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.mtn3
{
    margin-top: 100px;
    direction: rtl;
    text-align: justify;
    font-size: 1em;
    text-align: right;
    z-index: 3;
}
.div1
{
    
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    background-color: red;  
    justify-content: flex-start;
    height: 97vh;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    overflow: scroll;
    text-align: justify;
    word-wrap: break-word;
    word-break: keep-all;
}
.div3
{
    /* background-color: rgb(54, 57, 63); */
      background-image: url("ezgif.com-video-to-gif.gif");  
    width: 90%;
    height: 97.4vh;
    display: flex;
    justify-content: right;
    margin: auto;
    position: relative;
    border-radius: 5%;
    z-index: 10;
    -webkit-box-shadow:0px 10px 50px 10px red ;
-moz-box-shadow:0px 10px 50px 10px red ;
box-shadow:0px 1px 10px 10px red ;
}
 /* .gradient-background1 {
    background: linear-gradient(302deg,#a26124,#3a05f8,#9d975b);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
    z-index: -10;
    position: relative;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }  */
.img
{
    width: 200px;
    position: absolute;
    height: 200px;
    left:0px;
}
.img2
{
    width: 200px;
    height: 200px;
    position:absolute;
    right:0px;
}
.img3
{
    width: 200px;
    height: 200px;
    position:absolute;
    bottom:0px;
    left:0;
}
.img4
{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.img5
{
    display: flex;
    width: 50%;
    height: 97.3vh;
    margin:0 auto;
    position:absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
.img6
{
    width: 30%;
    height: 200px;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0px;
    z-index: 30;
}
.img7
{
    width: 20%;
    height: 30vh;
    position: absolute;
    margin: 0 auto;
    top: 300px;
    left: 0px;
}
.img8
{
    width: 20%;
    height: 30vh;
    position: absolute;
    margin: 0 auto;
    top: 300px;
    right: 0px;
}
.img9
{
    margin: 0 auto;
}
.div5
{
    
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 40px auto;
}





button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    float: left;
}
#audio-player-container {
  --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    position: relative;
    margin: 100px 2.5% auto 2.5%;
    width: 95%;
    max-width: 500px;
    height: 132px;
    background: #fff;
}
#audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #007db5, #ff8a00);
    z-index: -1;
}
p {
    position: absolute;
    top: -18px;
    right: 5%;
    padding: 0 5px;
    margin: 0;
    font-size: 28px;
    background: #fff;
}
#play-icon {
    margin: 20px 2.5% 10px 2.5%;
}
path {
    stroke: #007db5;
}
.time {
    display: inline-block;
    width: 37px;
    text-align: center;
    font-size: 20px;
    margin: 28.5px 0 18.5px 0;
    float: left;
}
output {
    display: inline-block;
    width: 32px;
    text-align: center;
    font-size: 20px;
    margin: 10px 2.5% 0 5%;
    float: left;
    clear: left;
}
#volume-slider {
    margin: 10px 2.5%;
    width: 58%;
}
#volume-slider::-webkit-slider-runnable-track {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-moz-range-track {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-ms-fill-upper {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::before {
    width: var(--volume-before-width);
}
#mute-icon {
    margin: 0 2.5%;
}
input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
    float: left;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}
